/* header-background */
header {
    width: 100%;
    color: white;
    height: 105px;
    display: flex;
    align-items: center;
    background: #16ABF8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-weight: bold;
    font-size: 24px;
}