@import url('https://fonts.googleapis.com/css?family=Poppins');


/* Element Style */
body {
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background-color: #f4f4f4 !important;
}

/*Page Header Style */
header {
    width: 100%;
    color: white;
    height: 105px;
    display: flex;
    align-items: center;
    background: #16ABF8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-weight: bold;
    font-size: 24px;
}

/* Page warapper */
.wrapper {
    max-width: 1000px;
    margin: auto;
}

/* Empty dashboard */
.container {
    max-width: 1000px;
}

.dashbaord-empty {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-wrapper {
    padding: 0 20px 0 0;
}

/* Error Page */
#error-page {
    height: calc(100vh - 105px);
    text-align: center;
    display: flex;
    flex-direction: column;
}

#error-wrapper {
    margin: auto;
}

/* Content header style */
.content-header {
    margin: 49px 0px 59px;
    display: flex;
    justify-content: space-between;
}

.content-header h1 {
    font-weight: 700;
    font-size: 36px;
    margin: 0;
}

.content-header .custom-button {
    width: 170px;
    height: 54px;
    background-color: #16abf8;
    border-radius: 45px;
    border: 0;
    padding: 13px 21px 13px 14px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
}

.content-header .add-icon {
    background-image: url(/src/assets/img/add-icon.svg);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}

.header-title {
    display: flex;
    align-items: center;
}

.back-icon {
    width: 32px;
    height: 32px;
    margin-right: 19px;
    cursor: pointer;
}

.edit-icon {
    margin-left: 23px;
    cursor: pointer;
}

.sort-add-button {
    display: flex;
}

.sort-icon {
    width: 24px;
    margin: auto;
}

.input-activity {
    font-weight: 700;
    font-size: 36px;
    background-color: #f4f4f4;
    border-top: none;
    border-left: none;
    border-right: none;
}

.input-activity:focus {
    outline: none;
}

/* Dropdown custom style */
.dropdown-toggle.btn-primary {
    border-radius: 50%;
    background-color: transparent !important;
    height: 54px !important;
    width: 54px !important;
    margin-right: 18px;
    border: 2px solid #e5e5e5 !important
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu-container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.dropdown-item-container {
    height: 52px !important;
    padding: 0 !important;
    width: 235px !important;
}

.dropdown-item {
    display: flex !important;
    padding: 14px 21px;
    border: 1px solid #E5E5E5;
    align-items: center;
}

.dropdown-item-name {
    margin-left: 15px;
}

.dropdown-item-img {
    width: 24px;
    height: 24px;
}

.dropdown-item-check {
    margin-left: auto;
}

/* Button style */
.btn {
    border-radius: 45px !important;
    height: 54px !important;
    border: 0 !important;
    font-size: 18px !important;
    font-weight: 600 !important;
}

.modal-content .modal-footer .btn {
    width: 150px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.modal-content .modal-body .btn {
    border: #E5E5E5 2px solid !important;
    border-radius: 6px !important;
}

.btn.btn-primary {
    background-color: #16ABF8;
}

.btn.btn-danger {
    background-color: #ED4C5C;
}

button:disabled,
button[disabled] {
    opacity: 0.2 !important;
}

/* Header Activity */
.activity-card {
    height: 234px;
    background-color: #fff;
    border-radius: 12px;
    padding: 22px 26px;
    margin-bottom: 26px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.activity-container {
    height: 155px;
}

.activity-card h4 {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none !important;
}

.activity-footer {
    display: flex;
    justify-content: space-between;
}

.activity-date {
    font-weight: 500;
    font-size: 14px;
}

.activity-card img[src*="delete"] {
    width: 16px;
    cursor: pointer;
}

/* Todo list card */
.todo-list-card {
    margin-bottom: 10px;
    height: 80px !important;
    padding: 28px !important;
    flex-direction: row !important;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 12px !important;
}

.todo-list-check {
    margin-right: 22px !important;
}

.todo-list-check input {
    width: 25px !important;
    height: 25px !important;
    margin-top: 0 !important;
}

.todo-list-indicator {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
}

.very-high {
    background-color: #ed4c5c !important;
}

.high {
    background-color: #F8A541;
}

.normal {
    background-color: #00A790;
}

.low {
    background-color: #428BC1;
}

.very-low {
    background-color: #8942C1;
}

.todo-list-name {
    font-weight: 500;
    font-size: 18px;
    margin-right: 20px;
}

.todo-done {
    text-decoration: line-through;
    color: #888;
}

.todo-list-edit {
    width: 20px;
    cursor: pointer;
}

.todo-list-delete {
    width: 20px;
    margin-left: auto;
    cursor: pointer;
}

/* Modal custom */
.modal-padding-custom {
    padding: 24px !important;
}

.modal-title {
    font-weight: 600 !important;
    font-size: 18px !important;
}

/* Delete modal */
#footerStyle {
    justify-content: center;
    border: 0;
    padding-bottom: 43px;
}

#headerStyle {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titleStyle {
    padding-top: 34px;
}

#bodyStyle {
    text-align: center;
    padding: 0 46px 0 46px;
}

#pBodyStyle {
    font-weight: 500;
    font-size: 18px;
}


/* Form custom */
.form-label-custom {
    font-weight: 600 !important;
    font-size: 12px !important;
}

.form-input-custom {
    font-weight: 400 !important;
    font-size: 16px !important;
    height: 52px !important;
}

.form-select-option {
    height: 52px !important;
}

.form-dropdown-custom {
    background-color: white !important;
    color: black !important;
    height: 52px !important;
    width: 205px !important;
    display: flex !important;
    align-items: center !important;
}

.form-dropdown-custom::after {
    margin-left: auto !important;
}

.link-custom {
    text-decoration: none !important;
    color: black !important;
}

.dropdown-icon {
    background-image: url('../img/dropdown-icon.svg');
    margin-left: auto;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* Loading ring */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loading spinner */

.spinner-wrapper {
    display: flex;
    justify-content: center;
}

.lds-spinner {
    color: #16ABF8;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #16ABF8;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}